<div class="container">
  <h1>Creación de gasto</h1>

  <form #expenseCreateForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col">
        <label
          >Descripción
          <input
            type="text"
            #description="ngModel"
            [(ngModel)]="expense.description"
            name="description"
            placeholder="Escribe una descripción del gasto"
          />
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label
          >Importe
          <input
            type="number"
            #amount="ngModel"
            [(ngModel)]="expense.amount"
            name="amount"
            placeholder="Importe"
          />
        </label>
      </div>
      <div class="col">
        <label
          >Pagado por
          <select
            *ngIf="expense && expense.group; else noGroup"
            #paidBy="ngModel"
            [(ngModel)]="userEmail"
            name="paidBy"
          >
            <option
              *ngFor="let member of expense.group.members"
              [value]="member.email"
            >
              {{ member.email }}
            </option>
          </select>
          <ng-template #noGroup>
            <input
              type="text"
              #paidBy="ngModel"
              [(ngModel)]="userEmail"
              name="paidBy"
              placeholder="Email del usuario que ha pagado"
            />
          </ng-template>
        </label>
      </div>
    </div>
    <div *ngIf="error" class="row">
      <p class="text-danger">
        <strong>{{ error }}</strong>
      </p>
    </div>
    <div class="row justify-center">
      <button
        *ngIf="groupId"
        [routerLink]="['/groups', groupId]"
        class="btn btn-secondary"
      >
        Atrás
      </button>
      <button *ngIf="!groupId" routerLink="/" class="btn btn-secondary">
        Inicio
      </button>
      <button type="submit" class="btn btn-success">Crear gasto</button>
    </div>
  </form>
</div>
