.btn-add-member {
  margin-top: 0.7rem;
}

@media only screen and (max-width: 450px) {
  .add-member {
    flex-direction: row;
    margin-bottom: 0rem;
  }
  .add-member .col:first-child {
    flex: 4;
  }
  .add-member .col:last-child {
    flex: 1;
  }
}
