button {
  margin: 0rem 0.5rem;
  padding: 1.2rem 4.5rem;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: $font-bold;
  letter-spacing: 0.05rem;
}

button:hover {
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

.button-group {
  margin-top: 5rem;
}

.btn {
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.btn-rounded {
  border-radius: 2rem;
}

.btn-circle {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 0;
}

.btn-primary {
  background-color: $primary;
  color: $white;
  border: 0.1rem solid $primary;
}

.btn-primary:hover {
  background-color: $white;
  color: $primary;
}

.btn-secondary {
  background-color: $secondary;
  color: $white;
  border: 0.1rem solid $secondary;
}

.btn-secondary:hover {
  background-color: $white;
  color: $secondary;
}

.btn-success {
  background-color: $success;
  color: $white;
  border: 0.1rem solid $success;
}

.btn-success:hover {
  background-color: $white;
  color: $success;
}

@media only screen and (max-width: 450px) {
  button {
    width: 100%;
    margin: 0.5rem 0rem;
  }
  .button-group {
    margin-top: 0rem;
  }
}

@media only screen and (max-width: 768px) {

}
