.card {
  border: 1px solid $primary;
  border-radius: 2rem;
  padding: 2rem 2rem;
  min-width: 200px;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 450px) {
  .card {
    margin-bottom: 0rem;
  }
}

@media only screen and (max-width: 768px) {
}
