ul {
  list-style-type: none;
  margin: 0rem 0rem 2.25rem 0rem;
}

li {
  margin: 1rem 0rem;
}

.list-user li {
  list-style-type: "\1F464";
  padding-left: 1rem;
  margin-left: 2rem;
}

.list-payment li {
  list-style-type: "\1F4B8";
  padding-left: 1rem;
  margin-left: 2rem;
}