@import "../../../design/variables";

.loader {
  margin: 10rem 10rem;
  font-size: 1.25rem;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;

  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader-primary {
  -webkit-animation: load 1.1s infinite ease;
  animation: load 1.1s infinite ease;
}

.loader-white {
  -webkit-animation: load2 1.1s infinite ease;
  animation: load2 1.1s infinite ease;
}

@media only screen and (max-width: 450px) {
  .loader {
    margin: 10rem auto;
  }
}

@media only screen and (max-width: 768px) {
}

@-webkit-keyframes load {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em $primary,
      1.8em -1.8em 0 0em rgba(41, 128, 185, 0.2),
      2.5em 0em 0 0em rgba(41, 128, 185, 0.2),
      1.75em 1.75em 0 0em rgba(41, 128, 185, 0.2),
      0em 2.5em 0 0em rgba(41, 128, 185, 0.2),
      -1.8em 1.8em 0 0em rgba(41, 128, 185, 0.2),
      -2.6em 0em 0 0em rgba(41, 128, 185, 0.5),
      -1.8em -1.8em 0 0em rgba(41, 128, 185, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(41, 128, 185, 0.7),
      1.8em -1.8em 0 0em $primary, 2.5em 0em 0 0em rgba(41, 128, 185, 0.2),
      1.75em 1.75em 0 0em rgba(41, 128, 185, 0.2),
      0em 2.5em 0 0em rgba(41, 128, 185, 0.2),
      -1.8em 1.8em 0 0em rgba(41, 128, 185, 0.2),
      -2.6em 0em 0 0em rgba(41, 128, 185, 0.2),
      -1.8em -1.8em 0 0em rgba(41, 128, 185, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(41, 128, 185, 0.5),
      1.8em -1.8em 0 0em rgba(41, 128, 185, 0.7), 2.5em 0em 0 0em $primary,
      1.75em 1.75em 0 0em rgba(41, 128, 185, 0.2),
      0em 2.5em 0 0em rgba(41, 128, 185, 0.2),
      -1.8em 1.8em 0 0em rgba(41, 128, 185, 0.2),
      -2.6em 0em 0 0em rgba(41, 128, 185, 0.2),
      -1.8em -1.8em 0 0em rgba(41, 128, 185, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(41, 128, 185, 0.2),
      1.8em -1.8em 0 0em rgba(41, 128, 185, 0.5),
      2.5em 0em 0 0em rgba(41, 128, 185, 0.7), 1.75em 1.75em 0 0em $primary,
      0em 2.5em 0 0em rgba(41, 128, 185, 0.2),
      -1.8em 1.8em 0 0em rgba(41, 128, 185, 0.2),
      -2.6em 0em 0 0em rgba(41, 128, 185, 0.2),
      -1.8em -1.8em 0 0em rgba(41, 128, 185, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(41, 128, 185, 0.2),
      1.8em -1.8em 0 0em rgba(41, 128, 185, 0.2),
      2.5em 0em 0 0em rgba(41, 128, 185, 0.5),
      1.75em 1.75em 0 0em rgba(41, 128, 185, 0.7), 0em 2.5em 0 0em $primary,
      -1.8em 1.8em 0 0em rgba(41, 128, 185, 0.2),
      -2.6em 0em 0 0em rgba(41, 128, 185, 0.2),
      -1.8em -1.8em 0 0em rgba(41, 128, 185, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(41, 128, 185, 0.2),
      1.8em -1.8em 0 0em rgba(41, 128, 185, 0.2),
      2.5em 0em 0 0em rgba(41, 128, 185, 0.2),
      1.75em 1.75em 0 0em rgba(41, 128, 185, 0.5),
      0em 2.5em 0 0em rgba(41, 128, 185, 0.7), -1.8em 1.8em 0 0em $primary,
      -2.6em 0em 0 0em rgba(41, 128, 185, 0.2),
      -1.8em -1.8em 0 0em rgba(41, 128, 185, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(41, 128, 185, 0.2),
      1.8em -1.8em 0 0em rgba(41, 128, 185, 0.2),
      2.5em 0em 0 0em rgba(41, 128, 185, 0.2),
      1.75em 1.75em 0 0em rgba(41, 128, 185, 0.2),
      0em 2.5em 0 0em rgba(41, 128, 185, 0.5),
      -1.8em 1.8em 0 0em rgba(41, 128, 185, 0.7), -2.6em 0em 0 0em $primary,
      -1.8em -1.8em 0 0em rgba(41, 128, 185, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(41, 128, 185, 0.2),
      1.8em -1.8em 0 0em rgba(41, 128, 185, 0.2),
      2.5em 0em 0 0em rgba(41, 128, 185, 0.2),
      1.75em 1.75em 0 0em rgba(41, 128, 185, 0.2),
      0em 2.5em 0 0em rgba(41, 128, 185, 0.2),
      -1.8em 1.8em 0 0em rgba(41, 128, 185, 0.5),
      -2.6em 0em 0 0em rgba(41, 128, 185, 0.7), -1.8em -1.8em 0 0em $primary;
  }
}

@keyframes load {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em $primary,
      1.8em -1.8em 0 0em rgba(41, 128, 185, 0.2),
      2.5em 0em 0 0em rgba(41, 128, 185, 0.2),
      1.75em 1.75em 0 0em rgba(41, 128, 185, 0.2),
      0em 2.5em 0 0em rgba(41, 128, 185, 0.2),
      -1.8em 1.8em 0 0em rgba(41, 128, 185, 0.2),
      -2.6em 0em 0 0em rgba(41, 128, 185, 0.5),
      -1.8em -1.8em 0 0em rgba(41, 128, 185, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(41, 128, 185, 0.7),
      1.8em -1.8em 0 0em $primary, 2.5em 0em 0 0em rgba(41, 128, 185, 0.2),
      1.75em 1.75em 0 0em rgba(41, 128, 185, 0.2),
      0em 2.5em 0 0em rgba(41, 128, 185, 0.2),
      -1.8em 1.8em 0 0em rgba(41, 128, 185, 0.2),
      -2.6em 0em 0 0em rgba(41, 128, 185, 0.2),
      -1.8em -1.8em 0 0em rgba(41, 128, 185, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(41, 128, 185, 0.5),
      1.8em -1.8em 0 0em rgba(41, 128, 185, 0.7), 2.5em 0em 0 0em $primary,
      1.75em 1.75em 0 0em rgba(41, 128, 185, 0.2),
      0em 2.5em 0 0em rgba(41, 128, 185, 0.2),
      -1.8em 1.8em 0 0em rgba(41, 128, 185, 0.2),
      -2.6em 0em 0 0em rgba(41, 128, 185, 0.2),
      -1.8em -1.8em 0 0em rgba(41, 128, 185, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(41, 128, 185, 0.2),
      1.8em -1.8em 0 0em rgba(41, 128, 185, 0.5),
      2.5em 0em 0 0em rgba(41, 128, 185, 0.7), 1.75em 1.75em 0 0em $primary,
      0em 2.5em 0 0em rgba(41, 128, 185, 0.2),
      -1.8em 1.8em 0 0em rgba(41, 128, 185, 0.2),
      -2.6em 0em 0 0em rgba(41, 128, 185, 0.2),
      -1.8em -1.8em 0 0em rgba(41, 128, 185, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(41, 128, 185, 0.2),
      1.8em -1.8em 0 0em rgba(41, 128, 185, 0.2),
      2.5em 0em 0 0em rgba(41, 128, 185, 0.5),
      1.75em 1.75em 0 0em rgba(41, 128, 185, 0.7), 0em 2.5em 0 0em $primary,
      -1.8em 1.8em 0 0em rgba(41, 128, 185, 0.2),
      -2.6em 0em 0 0em rgba(41, 128, 185, 0.2),
      -1.8em -1.8em 0 0em rgba(41, 128, 185, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(41, 128, 185, 0.2),
      1.8em -1.8em 0 0em rgba(41, 128, 185, 0.2),
      2.5em 0em 0 0em rgba(41, 128, 185, 0.2),
      1.75em 1.75em 0 0em rgba(41, 128, 185, 0.5),
      0em 2.5em 0 0em rgba(41, 128, 185, 0.7), -1.8em 1.8em 0 0em $primary,
      -2.6em 0em 0 0em rgba(41, 128, 185, 0.2),
      -1.8em -1.8em 0 0em rgba(41, 128, 185, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(41, 128, 185, 0.2),
      1.8em -1.8em 0 0em rgba(41, 128, 185, 0.2),
      2.5em 0em 0 0em rgba(41, 128, 185, 0.2),
      1.75em 1.75em 0 0em rgba(41, 128, 185, 0.2),
      0em 2.5em 0 0em rgba(41, 128, 185, 0.5),
      -1.8em 1.8em 0 0em rgba(41, 128, 185, 0.7), -2.6em 0em 0 0em $primary,
      -1.8em -1.8em 0 0em rgba(41, 128, 185, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(41, 128, 185, 0.2),
      1.8em -1.8em 0 0em rgba(41, 128, 185, 0.2),
      2.5em 0em 0 0em rgba(41, 128, 185, 0.2),
      1.75em 1.75em 0 0em rgba(41, 128, 185, 0.2),
      0em 2.5em 0 0em rgba(41, 128, 185, 0.2),
      -1.8em 1.8em 0 0em rgba(41, 128, 185, 0.5),
      -2.6em 0em 0 0em rgba(41, 128, 185, 0.7), -1.8em -1.8em 0 0em $primary;
  }
}

@-webkit-keyframes load2 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}
@keyframes load2 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

