<div
  *ngIf="loading; else content"
  class="loader loader-primary"
  [ngClass]="color == 'white' ? 'loader loader-white' : 'loader loader-primary'"
></div>
<ng-template #content>
  <ng-content></ng-content>
</ng-template>
