<app-loading [loading]="!groups">
  <div *ngIf="groups">
    <h2>Grupos:</h2>
    <div *ngIf="groups.length; else noGroups">
      <div class="row">
        <div *ngFor="let group of groups" class="col">
          <div class="card">
            <a
              [routerLink]="['/groups', group.id]"
              [queryParams]="{ referral: userId }"
              >{{ group.name.toUpperCase() }}
            </a>
            <a
              [routerLink]="['/groups/edit', group.id]"
              [queryParams]="{ referral: userId }"
              class="text-primary pl-2"
              ><fa-icon [icon]="faEdit"></fa-icon>
            </a>
            <a
              (click)="deleteGroup($event, group)"
              href="#"
              class="text-danger pl-1"
              ><fa-icon [icon]="faTrashAlt"></fa-icon>
            </a>
            <ul class="mt-2 mb-0">
              <li *ngFor="let member of group.members">
                <fa-icon [icon]="faUser" class="text-primary"></fa-icon>
                <span class="pl-1"
                  >{{ member.firstName }} {{ member.lastName1 }}
                  {{ member.lastName2 }}</span
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noGroups>
      <p>Todavía no tienes grupos.</p>
    </ng-template>
    <div class="row justify-center button-group">
      <button routerLink="/" class="btn btn-secondary">Atrás</button>
      <button
        routerLink="/groups/create"
        [queryParams]="{ addMember: userId }"
        class="btn btn-success"
      >
        Nuevo grupo
      </button>
    </div>
  </div>
</app-loading>
