<h2>Gastos:</h2>
<app-loading [loading]="!expenses">
  <div *ngIf="expenses && expenses.length; else noExpenses">
    <div class="row table-wrapper">
      <table>
        <thead>
          <th>Descripción</th>
          <th>Importe</th>
          <th>Pagado por</th>
          <th>Fecha</th>
          <th></th>
        </thead>
        <tbody>
          <tr *ngFor="let expense of expenses">
            <td>{{ expense.description }}</td>
            <td>{{ expense.amount }}€</td>
            <td>
              {{ expense.paidBy.firstName }}
              {{ expense.paidBy.lastName1 }}
              {{ expense.paidBy.lastName2 }}
            </td>
            <td>{{ expense.paidAt | date: "medium" }}</td>
            <td>
              <a
                [routerLink]="['/expenses/edit', expense.id]"
                [queryParams]="{ referral: groupId }"
                class="text-primary pl-1"
                ><fa-icon [icon]="faEdit"></fa-icon>
              </a>
              <a
                (click)="deleteExpense($event, expense)"
                href="#"
                class="text-danger pl-1"
                ><fa-icon [icon]="faTrashAlt"></fa-icon
              ></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <ng-template #noExpenses>
    <p>Todavía no tienes gastos.</p>
  </ng-template>
</app-loading>
