<div class="container">
  <h1>Registro de usuario</h1>

  <form #userCreateForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col">
        <label
          >Nombre
          <input
            type="text"
            #firstName="ngModel"
            [(ngModel)]="user.firstName"
            name="firstName"
            placeholder="Nombre"
          />
        </label>
      </div>
      <div class="col">
        <label
          >Primer apellido
          <input
            type="text"
            #lastName1="ngModel"
            [(ngModel)]="user.lastName1"
            name="lastName1"
            placeholder="Primer apellido"
          />
        </label>
      </div>
      <div class="col">
        <label
          >Segundo apellido
          <input
            type="text"
            #lastName2="ngModel"
            [(ngModel)]="user.lastName2"
            name="lastName2"
            placeholder="Segundo apellido"
          />
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label
          >Email
          <input
            type="text"
            #email="ngModel"
            [(ngModel)]="user.email"
            name="email"
            placeholder="Correo electrónico"
          />
        </label>
      </div>
    </div>
    <div *ngIf="error" class="row">
      <p class="text-danger">
        <strong>{{ error }}</strong>
      </p>
    </div>
    <div class="row justify-center">
      <button routerLink="/" class="btn btn-secondary">Atrás</button>
      <button type="submit" class="btn btn-success">Crear usuario</button>
    </div>
  </form>
</div>
