<div class="container container-full">
  <app-loading [loading]="!group">
    <div *ngIf="group">
      <h1>{{ group.name }}</h1>
      <app-group-detail-members
        [groupId]="group.id"
        [members]="group.members"
        (refreshGroup)="getGroup($event)"
      ></app-group-detail-members>
      <app-group-detail-balance
        [groupHasExpenses]="expenses && expenses.length"
        [groupHasMoreThanOneMember]="group.members && group.members.length > 1"
        [balance]="balance"
      ></app-group-detail-balance>
      <app-group-detail-expenses
        [groupId]="group.id"
        [expenses]="expenses"
        (refreshExpenses)="getExpenses($event)"
        (refreshBalance)="getBalance($event)"
      ></app-group-detail-expenses>
      <div class="row justify-center button-group">
        <button
          *ngIf="referral"
          [routerLink]="['/users', referral]"
          class="btn btn-secondary"
        >
          Atrás
        </button>
        <button *ngIf="!referral" routerLink="/" class="btn btn-secondary">
          Inicio
        </button>
        <button
          routerLink="/expenses/create"
          [queryParams]="{ group: group.id }"
          class="btn btn-success"
        >
          Nuevo gasto
        </button>
      </div>
    </div>
  </app-loading>
</div>
