// COLORS (Source: https://flatuicolors.com)
$white: #fff;
$black: #000;
$gray-extra-dark: #7f8c8d;
$gray-dark: #95a5a6;
$gray: #bdc3c7;
$gray-light: #ecf0f1;
$blue: #2980b9;
$blue-light: #3498db;
$blue-dark: #34495e;
$blue-extra-dark: #2c3e50;
$green: #16a085;
$green-light: #1abc9c;
$red: #c0392b;
$red-light: #e74c3c;
$orange: #d35400;
$orange-light: #e67e22;
$yellow: #f39c12;
$yellow-light: #f1c40f;
$purple: #8e44ad;
$purple-light: #9b59b6;

$primary: $blue;
$primary-light: $blue-light;
$secondary: $blue-extra-dark;
$secondary-light: $blue-dark;
$success: $green;
$info: $blue-light;
$warning: $yellow;
$danger: $red;

$body-bg: $secondary;

// FONTS
$font-family: "Montserrat", sans-serif;
$font-color: $blue-extra-dark;
$font-extra-bold: 700;
$font-bold: 600;
$font-semi-bold: 500;
$font-regular: 400;
$font-light: 300;
