<div class="container">
  <h1>GoDutch</h1>
  <p>Introduce tu email para acceder.</p>
  <form #userLoginForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <label
        >Email
        <input
          type="text"
          #emailField="ngModel"
          [(ngModel)]="email"
          name="email"
          placeholder="Correo electrónico"
        />
      </label>
    </div>
    <div *ngIf="error" class="row">
      <p class="text-danger">
        <strong>{{ error }}</strong>
      </p>
    </div>
    <div class="row">
      <button type="submit" class="btn btn-rounded btn-primary">
        Iniciar sesión
      </button>
    </div>
    <div class="row">
      <a routerLink="/users/create">¿Aún no tienes usuario? ¡Regístrate!</a>
    </div>
  </form>
</div>
