@import "design/reset";
@import "design/variables";
@import "design/fonts";
@import "design/text";
@import "design/grid";
@import "design/spacing";
@import "design/components/forms";
@import "design/components/buttons";
@import "design/components/cards";
@import "design/components/lists";
@import "design/components/table";

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: $font-family;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: $font-regular;
  line-height: 2rem;
  letter-spacing: 0.05rem;
  color: $font-color;
  background: $body-bg;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 28px;
  font-size: 2.8rem;
  line-height: 3.5rem;
  font-weight: $font-extra-bold;
  color: $primary;
  margin: 0rem 0rem 3.25rem 0rem;
}

h2 {
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 3rem;
  font-weight: $font-bold;
  margin: 0rem 0rem 3rem 0rem;
}

h3 {
  font-size: 20px;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: $font-semi-bold;
  margin: 0rem 0rem 2.75rem 0rem;
}

h4 {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 2.5rem;
  margin: 0rem 0rem 2.5rem 0rem;
}

h5 {
  font-size: 16px;
  font-size: 1.6rem;
  margin: 0rem 0rem 2.25rem 0rem;
}

p {
  font-size: 14px;
  font-size: 1.4rem;
  margin: 0rem 0rem 2.25rem 0rem;
}

a {
  color: $primary-light;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: $font-bold;
  text-decoration: none;
  margin: 0rem 0rem 2.25rem 0rem;
}

strong {
  font-weight: $font-bold;
  margin: 0 0.5rem 0 0;
}
